<h1> Vous venez de supprimer l'écurie  : {{EcurieInfoSuppression.ecunum}}  </h1>


<b>Nom de l'écurie : {{EcurieInfoSuppression.ecunom}} </b> <br><br>
<b>Nom du directeur : {{EcurieInfoSuppression.ecunomdir}} </b> <br><br>
<b>Adresse du siège  : {{EcurieInfoSuppression.ecuadrsiege}} </b> <br><br>
<b>Points que l'écurie possède : {{EcurieInfoSuppression.ecupoints}}    </b> <br><br>
<b>Situé au  : {{EcurieInfoSuppression.paynom}} </b> <br><br>
<b>Image : </b> <img src="/image/ecurie/{{EcurieInfoSuppression.ecuadresseimage}}" alt="ecurie"><br><br>

